#### Create data/other/nodes_hashtags.csv (DONT TRY TO RUN AGAIN)

In [14]:
import pandas as pd
import numpy as np
import random

ht = pd.read_csv("data/other/hashtags.csv", low_memory=False, header=None).rename(columns={0:"Label"})
ht["Label"] = "#" + ht["Label"]
ht

                    Label
0           #AbiyIsTheMan
1               #BlueNile
2            #Donate4GERD
3                  #Egypt
4               #Ethiopia
5     #EthiopiaNileRights
6   #EthiopianLivesMatter
7       #EthiopiaPrevails
8           #EverydayNile
9             #FillTheDam
10           #FillTheGERD
11         #FinishTheGERD
12                  #GERD
13              #GERD4all
14               #GERDdam
15       #GERDNeedsNoDeal
16      #HandsoffEthiopia
17         #ItsAfricasDam
18       #ItsEthiopianDam
19             #ItsHerDam
20             #ItsHisDam
21              #ItsMyDam
22        #ItsMyPeopleDam
23             #ItsOurDam
24        #JustFillTheDam
25                 #MyDam
26                #MyNile
27           #MyNileStory
28                  #Nile
29             #NileBasin
30  #NileBelongToEthiopia
31       #NileCooperation
32         #NileForAfrica
33       #NileForEthiopia
34       #NileGeopolitics
35            #nilerights
36               #OneNile
37        #OneVoiceOurDam
38                #OurDam
39               #OurNile
40              #ownriver
41                 #Sudan
42                #Tigray
43      #UnityForEthiopia

In [17]:
ht_nodes = ht.reset_index().rename(columns={"index":"id"}) #pd.concat([pd.DataFrame({"id" : [i for i in range(43)]}), ht])
ht_nodes["nodetype"] = "hashtag"
ht_nodes

In [18]:
ht_nodes.to_csv("data/other/nodes_hashtags.csv", index=False)

#### Add missing users and ids to data/other/username_id.csv (DONT TRY TO RUN AGAIN)

Adding random values as ids to users who don't have Twitter's user.id in collected data
Assigned ids are between 100 000 and 999 999 and there are no two same ids in the created file (checked!)
Also usernames should not repeat in the file (t

22.3.2023

edges_mention["usernames_target"] sisältää kaikki mainitut käyttäjät (pienet kirjaimet)
df_ids["user.id"] sisältää käytössä olevat id:t
df_ids["usernames_target"] sisältää usernamet

In [126]:
add = pd.DataFrame(edges_mention["usernames_target"]).drop_duplicates()
add["id"] = np.nan

lst_ids = []

for i in range(len(add)):
    if add.iat[i, 0] not in df_ids["usernames_target"].to_list():
        val = random.randint(100000, 999999)
        while val in df_ids["user.id"] or val in lst_ids:
            val = random.randint(100000, 999999)
        add.iat[i, 1] = int(val)
        lst_ids.append(val)
        
toadd = add.loc[add["id"].isnull() == False].rename(columns={"id":"user.id"})
toadd["user.id"] = toadd["user.id"].astype(np.int64)
savethis = pd.concat([df_ids, toadd])
print("These two values should ideally be different:", len(add), len(lst_ids))

These two values should ideally be different: 31167 25185

In [127]:
#savethis
#savethis["usernames_target"].value_counts()
#df_ids.loc[df_ids["usernames_target"] == "justgo_places1"]
#savethis.loc[savethis["usernames_target"] == "justgo_places1"]

       usernames_target              user.id
0                ilatif             14450089
1          addis_hiking  1128019934422892544
2              febewol7            451232651
3         caspianreport           1270445293
4       philographikon2  1139077270402940928
...                 ...                  ...
520217   speed_of_trust               866211
520218       makemytrip               353833
520219  makemytripindia               827371
520220         oyorooms               390353
520222       bookingcom               498569

[82390 rows x 2 columns]

In [129]:
#savethis.to_csv("data/other/username_id_all.csv", index=False)

# Creating gephi files

In [3]:
import pandas as pd
import numpy as np
import random

# hashtag data type
fp = "data/filter/en/filtered_data1703.csv"

df = pd.read_csv(fp, low_memory=False)
df.columns.to_list()

In [4]:
fp_ids = "data/other/username_id.csv"

df_ids = pd.read_csv(fp_ids, low_memory=False)

df_ids

       Unnamed: 0         username              user.id
0               0           ilatif             14450089
1               2     addis_hiking  1128019934422892544
2               3         febewol7            451232651
3               6    CaspianReport           1270445293
4               7  philographikon2  1139077270402940928
...           ...              ...                  ...
57200      303823         VocalVal            764764982
57201      303855     awet_nhafash            340419803
57202      303871   offerscontest2   799552990755622912
57203      303880          rayshan             14337796
57204      303883     DrIrfanWajih           2909023273

[57205 rows x 3 columns]

## Classifying

In [56]:
no_url = df.loc[df["user.url"].isnull()].drop_duplicates(subset="user.id").sort_values(by=["created_at"])
has_url = df.loc[df["user.url"].isnull() == False].drop_duplicates(subset="user.id").sort_values(by=["created_at"])
print(len(no_url), "/", len(no_url)/(len(no_url)+len(has_url))*100, "% of users don't have url in profile")
print(len(has_url), "/", len(has_url)/(len(no_url)+len(has_url))*100, "% of users have url in profile")

36225 / 64.8972572063276 % of users don't have url in profile
19594 / 35.102742793672405 % of users have url in profile

# Edges for years 2011-2019

In [68]:
lst = ["2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019"]

early_tweets = df.loc[df["created_at"].str.contains("|".join(lst))]
early_connections = early_tweets.loc[early_tweets["referenced_tweets.id"].isnull() == False]
early_connections

,Unnamed: 0,created_at,id,author_id,conversation_id,reply_settings,text,lang,public_metrics.retweet_count,public_metrics.reply_count,...,user.public_metrics.listed_count,user.url,user.id,user.username,user.profile_image_url,user.created_at,user.location,user.description,day,count
202387,202387,2011-01-08T18:52:07.000Z,23814221850476544,39614250,23813707305844737,everyone,I think u should feel thirsty :( RT @Zeinobia ...,en,0,0,...,26,NaN,39614250,abdots,https://pbs.twimg.com/profile_images/148329228...,2009-05-12T22:29:45.000Z,"Alexandria, Egypt",بتستعماني يا هرم!؟,2011-01-08,12
202414,202414,2011-01-11T01:34:48.000Z,24640333958619136,43434849,24639891484712961,everyone,@lucifly n us egyptian gonna declare war #nile,en,0,0,...,10,NaN,43434849,abu_ashley,https://pbs.twimg.com/profile_images/647706898...,2009-05-29T23:31:02.000Z,"BK, USA // PORT SAID, EGY",habibi techno // حبيبي تكنو //\r\nparka // saf...,2011-01-11,13
202420,202420,2011-01-13T22:33:57.000Z,25681986899148800,103059535,25681502335410176,everyone,@iSmackedU_NShit #BlueNile Possibly ??,en,0,0,...,12,NaN,103059535,JaSoRude,https://pbs.twimg.com/profile_images/698886857...,2010-01-08T18:58:41.000Z,NaN,RUDE AWAKENING.,2011-01-13,12
202433,202433,2011-01-14T17:55:40.000Z,25974343410384896,20047007,25965509530877953,everyone,"@Daniellawrence1 lol yeah, he's missed a few s...",en,0,0,...,5,NaN,20047007,HaplessOwl,https://pbs.twimg.com/profile_images/101097678...,2009-02-04T11:53:22.000Z,"Old Colwyn, Wales",Victoria Concordia Crescit. UK grime. Trees 365.,2011-01-14,14
202435,202435,2011-01-14T15:55:36.000Z,25944127547904001,19964901,25940918397829121,everyone,@djstui that was 1 -0 ..we have won #NileBasin,en,1,0,...,32,NaN,19964901,normzo,https://pbs.twimg.com/profile_images/140451091...,2009-02-03T11:13:56.000Z,Area 726,Bio? 🤷🏿‍♂️,2011-01-14,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291111,291111,2019-12-30T03:41:51.000Z,1211492566790811649,340419803,1211482123913351168,everyone,@Jacob91958509 Do you know how many #Eritrean ...,en,0,0,...,0,NaN,340419803,awet_nhafash,https://pbs.twimg.com/profile_images/108896058...,2011-07-22T17:30:34.000Z,"La Canada Flintridge, CA",NaN,2019-12-30,29
291114,291114,2019-12-31T21:09:48.000Z,1212118682534600704,2400492211,1212118682534600704,everyone,@adoniaayebare :Good job @ 2020\n\nBilateral r...,en,1,0,...,520,http://t.co/V5uHnZdANe,2400492211,Mohammed222022,https://pbs.twimg.com/profile_images/142610318...,2014-03-20T21:40:49.000Z,SCOTLAND,ADAMCO HOLDING CORPORATION,2019-12-31,27
291119,291119,2019-12-31T17:51:02.000Z,1212068660258447368,506198762,1212068660258447368,everyone,Visit #Tigray: Cradle of Civilization https://...,en,2,0,...,106,NaN,506198762,SeifGebre,https://pbs.twimg.com/profile_images/157455509...,2012-02-27T18:14:36.000Z,NaN,Passionate about the powerful Axumite Empire t...,2019-12-31,27
291127,291127,2019-12-31T10:27:33.000Z,1211957054589591552,906747322498998272,1211956493613961216,everyone,And don’t forget tomorrow about a nice cup of ...,en,0,0,...,3,NaN,906747322498998272,IvanGaidarov,https://pbs.twimg.com/profile_images/157545784...,2017-09-10T05:13:03.000Z,Bulgaria,"Physician, grown in Ethiopia, proud father of ...",2019-12-31,27
291136,291136,2019-12-31T07:56:59.000Z,1211919162202820608,1081876641138143232,1211571560177385473,everyone,@Dawit99910437 @Emuye06 @speed_of_trust The pp...,en,0,0,...,0,NaN,1081876641138143232,the_curious_2,https://pbs.twimg.com/profile_images/136089916...,2019-01-06T11:34:26.000Z,Vereinigte Staaten,Views are personal ...,2019-12-31,27

In [58]:
info = early_tweets.iloc[:, [1, 2, 3, 4, 6, 13, 14, 15, 21, 22, 24, 25, 26]]#.loc[early_tweets["referenced_tweets.id"].isnull() == False]

In [75]:
temp_lst = info.loc[early_tweets["referenced_tweets.id"].isnull() == False]["text"].to_list()

['I think u should feel thirsty :( RT @Zeinobia I feel so angry when I read about any Sudan split news #Sudan #Egypt #Nile',
 '@lucifly n us egyptian gonna declare war #nile',
 '@iSmackedU_NShit #BlueNile Possibly ??',
 "@Daniellawrence1 lol yeah, he's missed a few sitters when I've watched him. #NILE",
 '@djstui that was 1 -0 ..we have won #NileBasin',
 '@normzo what the scores... #nilebasin',
 '@chris_bower Very nice…and Uganda scored with 5 to go! #betting #nilebasin #nhl',
 "@nilecatacombs Can't wait till 14-2 @Baroeg #Rotterdam show!!! #Nile rules!!!",
 "@bartleby6 How is it you eat that stuff and I'm the one with #GERD ? ugh.",
 '@tomhappens BOLD! You owe us #bluenile.',
 'And #jan25 too RT @Basem_A #Cairo #hussoniMubark #nile كلها trends now :)',
 '@Mrs_Valuable_ #Nile TV reports close to 1,000 prisoners break free from prison outside #Cairo. #Egypt #jan25',
 '@UrbanRedev  Re: #bluenile reference: Our experience has been so good that we felt we should share the info with you for #valentinesday',
 "@nevernotever re #Nile - son it's not red yet?",
 "@ChristianBleuer Ha ... not so funny now that you've got bilharzia, is it, jokesters? #egypt #nile",
 '@JuneFlower9 RT omg! i cant wait until thursday ahahhaha hmmm&gt;&gt;&gt; #bluenile 4 me!',
 '@YellieJayEss He did, they call i the #Nile',
 '@blogsoftheworld The Lion Hearted People. http://bit.ly/i9NpX2 RT #worldfreedom #Nile',
 '@Axshata Annihilation of the Wicked by #Nile is more apt. #Geography #Egypt =P',
 '@thebadvirus The Natural Mystic, Extended http://wp.me/poq2z-dQ Courage. Beautiful & heartfelt. RT #lightbulbs #Nile',
 '@radiobarbour im affraid that one has sailed down the #nile',
 '@Ms_Kushington well I know that I have #gerd & #indica sometimes is my only medicine :)',
 '@desertgirl_2 #GERD is #GORD in Australia :)',
 '@sister_ratched Yes, very aware #GERD is #GORD in Australia, but only had enough room left in my twt to do one & not other, chose US one.',
 "@BrentDPayne Just got my Nexium refilled, tums doesn't work for more than 20 minutes for me.  Its a curse #gerd  I feel your pain my friend!",
 '@JustBlaze $NIGHT #NIGHT #NILE #DILE ;D',
 '@_Creole_ @JayFingers lol! You said pot liquor #justsayin #GERD',
 '20yrs on power @WoyaneTPLF, you masters r still unable to resolve the main issue (hunger) facing #Ethiopia for decades & u talk about #Nile.',
 'Hey wait. When r u going to let women drive in ur country? #forealtho @SaudiNnews #Sabq: #Ethiopia #Egypt #Nile #water http://bit.ly/efm4iq',
 '@ebony_smiles I have had #gerd since I was pregnant w/ Bug. That shit is the worse',
 '@melmorsy cuz when you think #Nile you automatically think #Egypt :P',
 "@tenorecbechtel Let's hope not! Stay away from #GERD. It can be like a sports injury taking you out for weeks... or more!",
 "don't start none, won't be none @PortSa3eedy #Egypt shd hijak any projct that belongs 2 #Ethiopia tht threaten our #Nile. We must use force!",
 "@TheAndyHolland Join our LinkedIn Group which has a discussion going on about #Burundi's signature of the #NBCFA | http://j.mp/hlSFWQ #Nile",
 'Hurrah!! RT @dailynation: #Egypt to lose #Nile veto power http://bit.ly/eT6xKq',
 'RT @dailynation: #Egypt to lose #Nile #veto power http://bit.ly/eT6xKq',
 '@eizusdoow #Maadi is a borough south of downtown #Cairo on the East Bank of the River #Nile  http://bit.ly/gcfsVg #Egypt',
 '@ashlee_nicole\nhttp://bit.ly/gLpI8H &lt;&lt;Monday Night! #LundiGrasMashUp 532 @FrenchmenStreet(upstairs) #BlueNile $5 after Midnight&lt;&lt;FreeBefore',
 '@dobbernation bahah just read that #GERD article now. those people WOULD love Cate.',
 '@theycallmevice maybe people with #GERD ??? http://1.usa.gov/gHPxaD',
 "@AdilG I'm not sayin #Meles shouldn't. We def need to use #Nile River whether #Egypt likes it or not, hope this is out of the way #Ethiopia",
 '@kristahaubert considering the nutritional value of the taco bell chicken burrito, I find that highly unlikely. what is #GERD?',
 "Just howl'd @CurtSTAR via #bluenile",
 "@sunflowerfarmer @Cornfrmr LOL! We're at 1600 ft. #Nile #virus has sent many people in our area to hospital and long recoveries! #agchat",
 "@liliano07 that's because I set them up for you! I had to make my own chances and dispatch them #nile'lone'ranger",
 '@PRETTi_UPPITY @_HolyFxckinRose YALL HAVE FUN iN LA ! iM  MOViN TO AFRiCA TO BECOME A NiGERiAN FEM QUEEN! BRiNGiN REALNESS FROM THA  #NiLE!',
 '@HuriyaAkhdar dangerous! similar to the mess the US corp of eng did to Florida marshland.  Still struggling to recover. #Nile #Egypt',
 "@moustafaghanem I don't think they'll do that, they'll find a legal way to #saveNU #Nile University",
 '@Chillefreeze We came from the bottom of the #nile where God #Hapi dwells by the foothills of the mountain of the moon',
 '@MGhydro @wanderingtracy You may b interested: http://bikyamasr.com/wordpress/?p=31815 #youth #water #nile #politics #Jan25 #Egypt #Uganda',
 '@Mss_Deezer #NoDullin.........we rep #Nile wallah.........we do it d #JBStyle........muahhhhhhh!!!',
 '@ashlee_nicole So U like reggae? #iRemember U always made me leave #BlueNile early to go to #LeBonTemps or Thursdays #URememberDat?',
 '@MissBCarroll i was askin were u was ridin, #bluenile close ninja bored!',
 '@DJNile @MrPresident2You @DaBellMan @dorianlamb fuck him up #NILE, but you did leave in a hurry to let them natural juices flow!!!!!! LMAO',
 '@Al_Babtain #Nile sat 12264 H 2/3',
 '@Cardinal_CG \nBring the Child Horus upon the Throne... BULBASAUR!!! #Nile #Misheardlyrics',
 "@hadearkandil  That's what #Ethiopia wants, to share the #Nile in way that doesn't harm #Egypt and benefits all riparian countries.",
 "@idlemickey @KokoxCore OMG! I'm now addicted to #Nile FM !",
 '@Reda1355 tweet about the latest news on the #nilebasin',
 '@Guide2Uganda Thanks for the RT. I have posted a few photos from the source of the #Nile in #Uganda, http://tinyurl.com/3mo9wl3',
 '@NedBreslin For more on the Nile... 5-part series on post-Mubarak #Nile #watersecurity | Water Security Blog: http://bit.ly/fANvgL #Egypt',
 '@Dreaminloudy Upset as I went off Nexium for quite a while and have to take it again. It spikes my blood pressure. Do u have #GERD too?',
 '@asarahf wow ! sounds like an addict & I have to assume you are a regular drinker for #Nile water !',
 '@Moez_WZ_Masoud we all do ! #Nile is the most beautiful view you can ever see #Egypt',
 "@Moez_WZ_Masoud I'm sure of that. It's always beautiful :) #Nile #Egypt",
 "@Moez_WZ_Masoud too bad we won't be enjoying it for long!!! #Nile #Egypt #Jan25",
 'Look @ @iLeek_BeachBoys avi he got his favorite shorts on the same from the show @ the #nile the same he had on the ... http://tmi.me/9xXfV',
 '@NewSkimmer @Guevara_alive84 Guys, do not fall for his "divide&conquer" routine. He has practiced this \'art\' for decades. #Ethiopia #Nile',
 "@ECADF Oh sir, now the agenda's #nile not @statedept , we'r trying 2 make ppl 4get inflation & everything. #Ethiopia",
 '@mamelamw I spent the entire first year cradling little man and bouncing on a yoga ball. #gerd Exercise and soothing rocking all in one.',
 "@evaaaaaaaaaan o shit your right christian is quarters... I'm soaked i've been in the #nile all day..",
 "@RyanMadanickMD isn't #GERD blamed for everything? It is in preemies!",
 '@dancinassassin If U Hanging with Me, #NoCover I gotcha! But if not its $10 now for access into #BlueNile #ReggaeNight... #UBoutIt?',
 '.@MGhydro Question is not signing. #CFA enters into force when 6 states ratify it - and the article claims this happened... #Nile',
 '@YichalalHagere as far as #Ethiopia is concerned #Nile has been going to waste since the beginning of time, but that has changed now.',
 '@Pohcifer #Nile is one of my fav bands! \\mm/ I got a website link 4 the case! I will hook it up! :D',
 '@OmarBiltaji #Nile #Cairo #Egypt swiss air restaurant is nice, piano piano also is cool.. If they still r there lol',
 "@davemsund Thanks so much .. I'm quiet good and the here is fine on the #Nile #Egypt",
 '@EriRevoltMay28 @DMV_Africans @DopestEthiopian Revolt is a fraud from Ethiopia #Tigray #Genocide #May28 #Woyanne #Beka',
 '@EriRevoltMay28 @SelamawitAbebe Revolt is a fraud from Ethiopia #Tigray #Genocide #May28 #Woyanne #Beka',
 '@EriRevoltMay28 @Afridanica  Revolt is a fraud from Ethiopia  #Tigray #Genocide #May28 #Woyanne #Beka',
 '@2closetogether How old is your one with the #GER? (I am still in the habit of calling it #GERD but I know I am outnumbered ;))',
 '@USEmbPretoria @EriRevoltMay28 Revolt is a fraud from Ethiopia #Tigray #Genocide #May28 #Woyanne #Beka',
 "@AsmarinoMay28 Jeberti has change his name now to Asmarino but he's still a fraud from Ethiopia #Tigray region #May28 #Beka #Identity-issues",
 "@JebertiMay28 Revolt has change his name now to Jeberti but he's still a fraud from Ethiopia #Tigray region #May28 #Beka #Identity-issues",
 '@EriMay28Revolt @fthinhafash @SEDDY_GOT_POWER  Revolt is a fraud from Ethiopia #Tigray region  #May28 #Beka #AddisAbba #Identity-issues',
 "@Kayla_cooley Have you heard the original & best by #Bluenile? I hold nothing against Andrea Corr (sadly) but it's not very good...",
 '@beenieman29 was that joint open fool...#BlueNile',
 '@sauve504 word you ever been to #bluenile',
 '@MrsMiscellanea oh sorry...i hate when even water hurts...aloe juice helps me sometimes... #gerd',
 '@ELeemusic04 @erbwilliams @pfunk2005 yall get it inn! I was looking for yall via #bluenile lastnite! See yall on yall return',
 '@WoyaneTPLF My opinion is another. Ethiopia, Uganda and Kenya have humid climate (lots of rain). #Egypt will starve w/o the #nile.',
 "@yaboydappa Say Bruh. I think I'm coming thru #BlueNile with some rolled up trees homie.",
 '@lamaggad Encyclopedia of ancient Egypt by Selim Hasan (Arabic). Concise versions in English by Redford and Bunson #Pharaohs #Egypt #Nile',
 '@AJEnglish The #China and #Vietnam squabble over #SouthChinaSea is intresting, when we thought #Egypt and #Nile was big.',
 '@MrFloodST22 whats popping for the nite life son #bluenile',
 '@westbank4 lol word you tryna go to #bluenile',
 '@fionahunter92 You? You are cool. Geeks are not cool. Geeks were cool before everyone tried to be geeks. Nerds? Nerds were never cool.\n#GERD',
 '@AJEnglish The need to control the #nile is understandable I suppose. It’s arguing over imaginary lines in the sand I have a problem with.',
 '@ramavery attack of the #GERD',
 "@snoopy4real0 they'll be playing #nile on sunday, same time",
 '@1MKoinange Offspring of one mother? Really? #Nile',
 '@Frezyt Sweet #BreakingBad starts getting good in season 2. Season 3 is so awesome. Annihilation of the Wicked for #Nile',
 '@acetail2k10 but the difference between the #Atlantic and the #NILE the leads to the perfect #Oasis is how you get there',
 "@imadreamer_TW Im Very Good Thankyou! How About You My Dear #Gerd? :')",
 '@MaryBeth_Bognar The #Nile documentary on #Aljazeera is quite informative. Another, my fav. "Abay" is both historical and captivating.',
 '@imadreamer_TW ;D No Worries Dear #Gerd. I Bet You Are! So Am In, Im My Pyjamas And Fluffy Dressing God WOOO!',
 '@bechamilton RT PEACE AGREEMENTS DOWNLOADS #Abyei S #Kordofan #BlueNile  http://t.co/MUjNjXS',
 '@SudanOptimist I am sorry but your case is untreatable ,but watching more of #BlueNile should help :) @PreciousLolo',
 "@DanielMarkham Holy shit dude.  I was just scrolling through my twitter and that's EXACTLY the song I'm listening to.  #Nile",
 '@NileFM you are water #nile fm',
 '@SudaneseThinker the next war is in #kordofan and #bluenile ! Oh! Did I forget #Darfur ? Thanks #Bashir',
 '@iamashlyn nahh, but to go to #bluenile',
 '@hippiebillie koolin son bout get dressed... u goin swagg off in dat wiz thang??..im tryin get in dat thang for the freeski..then #BLUENILE',
 "@aelmahi #Bashir won't rest till full civil war start in #SK and #bluenile",
 '@NaturallyJazzy take italmins not vitamins! #BlueNile re-up',
 "@easyinthedeep I suppose you'd rather have heads of  children smashed on trees or village pillaged like #Darfur or #BlueNile @Calestous",
 '@Boutthattlife it is you need to text me or tweet me cause um I dnt like that #Nile',
 "@Boutthattlife ummm y I haven't talked to you in forever #Nile",
 '@PaigeMeBrittany nothing wrong wit dat! Definitely encourage you to come vibe out at #dragonsden or #bluenile @DJTeeROY',
 '@Tim_stew #Nile has at shown he was not really 100% committed to @barryofarrell #nswisconsin ir laws.',
 '@YBeDave at the #Nile in yeadon @SNACKS215 kno which one im talkin bout and it dont matter im ready wen yaw is',
 '@avinunu spies and weapons been there for the past decade, at least. Now they control the #Nile. water is more strategic than #oil to Israel',
 '@zoloDro iight son imma letchu kno..... matterfact #BLUENILE...?!',
 '@SmritiSain I saw one "Pleased to meet you. I\'ve got meat for you" and a lamb with a cute face #bluenile',
 '@ItsSunnyV or as your namesake would say #gerd.',
 '@austin34rankin ever been #rafting in #Uganda on the #Nile?? The best #river for rafting in the world according to all my rafter friends!!',
 '@zoloDro where yall goin? & yall BET NOOOTTT fake me out for the #bluenile tomorrow, cuz i will go alone',
 '@AsmaaJonas_JB will u say ur q with #nile fm like we do when we  ask for see nomore sa7e7 dol gabo burnin up mn shwaya sm3teha?',
 '@DarkChanNet closely guarded by terrible serpents. http://t.co/eWBLe8R #nILe',
 '@pueblokc I have #crohns #IBS #chronicacutepancreatitis #depression #fibro #gerd #osteo #RA #autoamunityIssues #disk&spine #anxiety #memory',
 '@EmoriEscobar exactlyyyyyy n we always get our shit rite, love yu bestfriend 1 n onli bestfriend #nile',
 "@BC_TRELL @bc_ity or come in that #NILE & SMOKE & DRINK & only lose $5 b/c everybody don't win at the casino #oOKAY",
 "@strictlyCALI He's trending in Detroit???  holy shit... #Nile",
 '@wnnbl switch to NationalGeo Now :-) #nile',
 '@CastanCentre It might be the Schöfferhoffer talking, but Fred #Nile can go screw himself. #ethics #NSWpol',
 '@BAIRDSTRAVEL The source of the mighty Nile River is in #Uganda too! Our lodge is on the edge of the #Nile! Spectacular! Magical!',
 '@normzo I was there yesterday and saw her still stationed there. About the 1,300 #nile gold am i allowed to drink while shopping?',
 "@SuperMeena Here's a page where our expert answers whether or not you should stay away from sodas if you suffer frm #GERD http://j.mp/mSd5AK",
 '@andrewglen @twittopher online gaming #GERD',
 ". @jvpmedia Yes!!!! Would love to support #BlueNile DM us we'd love to feature any events in Seattle Blue Nile is a part of!!! :)",
 '@peteknockout @sozzlechops enjoy your christening later pal. God bless ya #GERD',
 '@GOKUtheDJ oh yuh takin her to #Nile ? & thank yuh sir xD',
 "@Bitch_I_Said lls bruah I need to c des I don't even tie mines down nd I'm still flowing like da #Nile River lls",
 '@jvpmedia very cool! Looks like lots and lots of fun! #bluenile',
 '@dAtopic_0fconvo I might go to #BlueNile tonight... #NOLA',
 "@andreahansen You're welcome. I wondered how retailers were handling the price increases after I heard #BlueNile 's conference call.",
 '@imababyface nothing spicy for me, or my chest will explode. Lol #Gerd',
 '@mayurmilan aah the bliss of Pune... will cross #Toons and #bluenile enroute.. and of course Kayanis!',
 "RT @chrislhayes:  17 cups of coffee ~ Chase it with shots of Aloe Gel & handfuls of proton pump inhibitors & you're golden. #GERD #denial",
 '@his_moezness it is #KORDOFAN at present, will be followed by #bluenile and the #redsea!',
 '@NilePowerRanger be careful #Nile',
 "@greybarn @lkmsLouise @chellekip @Anneterr1 @memehug @slinkysars @Harrys_Manor @ByMyStove I'm right there with you Marian #Nile",
 '@maysarathustra but I think that the reasons are not just about the high dam ... I think @yshawkat can tell us more #Nile #highdam',
 "@CameronCrowe 'Tinseltown in the Rain' is my favourite song of all time... #BlueNile",
 '@kharlaaaaaaaa EGGS DO TWEET. #GERD',
 '@IsthatEarly in the train lady voice cedar riverside #blueNile lol',
 '@AymanElkhidir And how that worked out for them in South Kordofan? Just created a humanitarian crisis and political stalemate. #BlueNile',
 '@AymanElkhidir Not that I support any such operation. Security solutions to political problems NEVER work. #BlueNile #Sudan',
 "@AymanElkhidir Result of CPA implementation, or lack thereof. Troops 're-integration' was an integral part that never got enforced #BlueNile",
 '@simsimt apparently yes in Kurmuk but this centre is in Damazine& I  understand it was bombed(shelled?) by "land" artillery #BlueNile #Sudan',
 '@wasilalitaha  fighting in #BlueNile was a matter of time cos of unresolved CPA issues,fighting in #Kordofan & #Sudan political tensions',
 "@Neo0rabie Don't say it #BlueNile too wht happened?",
 '@Do_odz not sure yet by it looks like another war in #BlueNile',
 '@elzubeir #BlueNile #SPLM #SAF unfortunately but z incident with agar convoy was triggered by sudan security not army yet quickly developed',
 'RT @WagingPeaceUK #BlueNile: #Sudan forces battle former #SPLM rebels http://t.co/yTTafzB',
 '@o2bfree78 my dear Aguil it is horrible as you said what is happening in #BlueNile #Nuba mountains, #Kordofan (cont) http://t.co/CGmVdk9',
 '@AymanElkhidir an agreement was reached in addis but #Bashir changed his mind! Soon darfur will repeat it self in #sk & #bluenile',
 '@Astro_Ron http://t.co/7nnHw3Q - Blessed be t/ #Nile R! The glowing City in #TelAviv Peace4 #Cairo #Damascus needs justice! &lt;3 #Cryrus',
 'So cool! RT @Astro_Ron #Italian "Boot" at night #FromSpace #Rome #Naples #Tunisia #Belgrade #Istanbul #Athens #Nile twitpic.com/6gn0fg',
 '@Astro_Ron http://t.co/Nc5ZmXl - It´s so beautiful #FromSpace, wonder why you put #Nile, I can´t distinguish where is... Have  a peace',
 '@AymanElkhidir the #bluenile adventure is an attempt to divert attention of hardship face ordinary Sudanese everyday',
 "@klapauz It's a meee! #gerd",
 '@J2112O @maschem67 #Nile rules!',
 '@Neo0rabie But the people sat home during #Darfur, #Abyei, #secession, increase in prices, and now #BlueNile & #SouthKordofan.. Until when?',
 '@bossladybeats lol...naw I want #Nile',
 "@lauriewrites We're at the pharmacy for Jess. It's a tradition! #gerd",
 '@wtftania LMAO! #truism What I dont get is how i never wrote a novel when i starved myself #whitegirlproblems #2010mistake #GERD #rewind',
 '@TheBigPharaoh #Erdogan was seen walking across the #Nile earlier!',
 '@jvpmedia Um hi. I like diamonds. :-) #eventhoughPEARLismymiddlename #bluenile',
 "@MoKotkot @mimzmimz @dabiggmoe yes. But don't tell @MimzMimz. She's awkward. #bluenile #alqaeda #realmadrid",
 '@AymanElkhidir @simsimt how many of you really think there will ever be elections in #bluenile ?',
 "@JazzyFresh504 lmao, harrah's be nice but i'm no fan of it. HOWEVER, #bluenile is my (1) LOVE",
 '@mangoshala @AdelDarwish #Egypt speaks of "military option" in order to stress vital importance of #Nile, but cooperation in interest of all',
 '@mgubey Thanks Michael. Water Wars I wrote with the late John Bulloch in 1993.  My agent was saying the other day I should update it #Nile',
 '@miaaculpa @evillysexybitch @tourtored1221 yes. & look at #Sudan #Nuba #bluenile #southkordofan #genocide we must stop this @enoughproject',
 '@J2112O #Nile fucking Rules!',
 "@UKProgressive #Riddles ?We al flo on water! And to do that better with a boat (Yo'r tip to me) Tip to you,read more @AynRandBot on #Nile ;)",
 "Right on! @Hamza_Africa #SouthSudan seeks membership of the #Nile Basin Initiative. #Egypt & #Sudan won't be pleased. bit.ly/qEKGE2 #Africa",
 'RT @rachidH #Nile river, Cheops Pyramid & Feluca (Sailboat) in #Cairo http://t.co/2aLeKLY0 #rachidH #nature #photo #Egypt',
 '@dastreets1chyna What time b/c yall know the #bluenile gets all my love & affection on thursday nights!',
 'Me segue? QT @YouPublishMedia: An introduction to #GERD http://t.co/Cm0wOUTg #business #acidrefluxdisease #acidrefluxsymptomsinwomen',

In [88]:
info#.iat[1,2]

,created_at,id,author_id,conversation_id,text,referenced_tweets.id,referenced_tweets.type,in_reply_to_user_id,user.id,user.username,user.created_at,user.location,user.description
202349,2011-01-01T23:27:35.000Z,21346828930785280,189332313,21346828930785280,Treasures of the Nile by atouchoftwist on @Ets...,NaN,NaN,NaN,189332313,atouchoftwist,2010-09-11T00:12:57.000Z,Florida,A Touch of Twist is the Etsy shop for some of ...
202350,2011-01-01T23:19:09.000Z,21344707376320512,138931028,21344707376320512,The #NILE Aint Just A River In France...huh? lol,NaN,NaN,NaN,138931028,rukidd_,2010-05-01T02:00:39.000Z,Brazil,"Promise To Always Give You Me, The Real Me So ..."
202351,2011-01-01T19:55:16.000Z,21293396903596033,141079255,21293396903596033,Who wins? Prevacid VS. (Coffee + Tequila + Cha...,NaN,NaN,NaN,141079255,NoLimitDoc,2010-05-07T04:02:58.000Z,Las Vegas,"Father, Husband, Physician and Poker Player."
202352,2011-01-01T15:57:56.000Z,21233673399435264,23566545,21233673399435264,Sloop over to progression and set your own sai...,NaN,NaN,NaN,23566545,justroxonmute,2009-03-10T07:03:51.000Z,Imagination land of no limits,Automotive-Photography-Music-Gym-Gaming… in a ...
202353,2011-01-01T02:44:01.000Z,21033875283124225,230475530,21033875283124225,Procucts: http://www.bb-care.com/under-the-nil...,NaN,NaN,NaN,230475530,bbcarecom,2010-12-25T16:18:06.000Z,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
291134,2019-12-31T09:12:00.000Z,1211938040593231872,1180889598853029892,1211938040593231872,#Nile tradesman https://t.co/z5LSCHByqj,NaN,NaN,NaN,1180889598853029892,DJappyPhotos,2019-10-06T16:56:45.000Z,NaN,Some of my photos for the world to see - pleas...
291135,2019-12-31T08:31:52.000Z,1211927943041044486,14337796,1211927943041044486,Kingdom by the Nile.\n.\n.\n.\n.\n.\n#🇪🇬 #medi...,NaN,NaN,NaN,14337796,rayshan,2008-04-09T01:09:26.000Z,San Francisco,Building infrastructure that builds the next g...
291136,2019-12-31T07:56:59.000Z,1211919162202820608,1081876641138143232,1211571560177385473,@Dawit99910437 @Emuye06 @speed_of_trust The pp...,1211910870198034432,replied_to,NaN,1081876641138143232,the_curious_2,2019-01-06T11:34:26.000Z,Vereinigte Staaten,Views are personal ...
291137,2019-12-31T06:03:00.000Z,1211890476284030976,3233487513,1211890476284030976,Such an exciting experience! An honor to have ...,NaN,NaN,NaN,3233487513,Chef_Yohanis,2015-05-04T14:30:47.000Z,NaN,NaN
291138,2019-12-31T02:44:10.000Z,1211840439197691905,2909023273,1211840439197691905,@makemytrip first you say refund not possible ...,NaN,NaN,NaN,2909023273,DrIrfanWajih,2014-11-24T11:22:12.000Z,Lucknow,NaN

In [ ]:
info["mentions"] = pd.Series()

for i in range(len(temp_lst)):
    user_lst = []
    words = " ".split(info.iloc[i]["text"])
    for j in words:
        if j.startswith("@"):
            user_lst.append(j)
    lst = ";".join(user_lst)
    info.at[i, "mention"] = lst
    
info

C:\Users\annil\AppData\Local\Temp\ipykernel_17316\591186497.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  info["mentions"] = pd.Series()

# Nodes: user.id, user.username and created_at (17.3.2023)

In [2]:
df_replys = df.loc[df["in_reply_to_user_id"].isnull() == False]
nodes = df_replys.iloc[:, [21, 22, 24]].rename(columns = {"user.id":"id", "user.username":"label"}).drop_duplicates(subset="id")
nodes

                         id           label           user.created_at
27               3395056395         robirol  2015-07-30T06:40:36.000Z
29               2400492211  Mohammed222022  2014-03-20T21:40:49.000Z
39                 78938787         MHristo  2009-10-01T16:05:23.000Z
50               2937589931       sfield400  2014-12-22T22:25:30.000Z
53      1176137414454251520     TwineRachel  2019-09-23T14:13:45.000Z
...                     ...             ...                       ...
202156  1272741716005552128    Dave92876817  2020-06-16T04:04:23.000Z
202158  1435857840976039939       NilayOZ55  2021-09-09T06:49:35.000Z
202171            196186842      LarryDeMik  2010-09-28T14:53:15.000Z
202314             31240908  MyHearts4U2023  2009-04-14T22:01:14.000Z
202319  1482889764118405124    american1828  2022-01-17T01:38:15.000Z

[8440 rows x 3 columns]

In [61]:
df_replys.sort_values(by=["created_at"])

,Unnamed: 0,created_at,id,author_id,conversation_id,reply_settings,text,lang,public_metrics.retweet_count,public_metrics.reply_count,...,user.public_metrics.listed_count,user.url,user.id,user.username,user.profile_image_url,user.created_at,user.location,user.description,day,count
27,27,2020-01-03T06:53:39.000Z,1212990387578720257,3395056395,1210689137411379200,everyone,"@AycoAM @GetachewSS Even if we have 13 months,...",en,0,0,...,0,NaN,3395056395,robirol,https://pbs.twimg.com/profile_images/145802316...,2015-07-30T06:40:36.000Z,NaN,ኩሉ አመክሩ ወዘሰናየ አፅንኡ\n🇪🇹⛪⚽🎱,2020-01-03,11
29,29,2020-01-04T19:31:55.000Z,1213543601982099456,2400492211,1213543601982099456,everyone,"@ayahaman : Beyond #media ,there are another r...",en,1,0,...,520,http://t.co/V5uHnZdANe,2400492211,Mohammed222022,https://pbs.twimg.com/profile_images/142610318...,2014-03-20T21:40:49.000Z,SCOTLAND,ADAMCO HOLDING CORPORATION,2020-01-04,6
39,39,2020-01-05T15:42:18.000Z,1213848202086141956,78938787,1213848202086141956,everyone,@BBC6MusicBot something in my eye #BlueNile #G...,en,0,0,...,17,NaN,78938787,MHristo,https://pbs.twimg.com/profile_images/160034886...,2009-10-01T16:05:23.000Z,Stamford,"Memorial Device Community ANT. Excuse me sir, ...",2020-01-05,14
53,53,2020-01-06T12:46:24.000Z,1214166325142212609,1176137414454251520,1214165475325816832,everyone,@MukundaneAble @WZahaa So #NILE lager is Zaha...,en,0,2,...,0,NaN,1176137414454251520,TwineRachel,https://pbs.twimg.com/profile_images/162434345...,2019-09-23T14:13:45.000Z,somewhere you cant see me.,Venoms.\nRed devils.,2020-01-06,11
50,50,2020-01-06T20:47:36.000Z,1214287422554591234,2937589931,1214214633017483266,everyone,@SaraCarterDC @realDonaldTrump @JennieSTaer Li...,en,0,0,...,2,NaN,2937589931,sfield400,https://pbs.twimg.com/profile_images/711890487...,2014-12-22T22:25:30.000Z,NaN,Intolerant of illogical Liberal “logic”. Dog l...,2020-01-06,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202209,202209,2022-12-30T17:37:21.000Z,1608879929344790530,3740334387,1608859818063978496,everyone,@MekonnenEyasu @UNGeneva @unhrcpr This is why ...,en,1,0,...,137,NaN,3740334387,iyoba4u,https://pbs.twimg.com/profile_images/151487217...,2015-09-22T16:12:11.000Z, 🐦,"'We Have To Live The Dream, Not Just Dream' - ...",2022-12-30,128
202332,202332,2022-12-31T04:38:09.000Z,1609046225227255808,1383689801031843845,1608859818063978496,everyone,@iyoba4u @UNGeneva @unhrcpr #TPLF #GERD project,en,0,0,...,2,NaN,1383689801031843845,Tru_Observer,https://abs.twimg.com/sticky/default_profile_i...,2021-04-18T07:52:34.000Z,NaN,🖐,2022-12-31,40
202319,202319,2022-12-31T18:32:25.000Z,1609256177262628865,1482889764118405124,1608860282776064001,everyone,@DSummersTime @unkonfined spiritual and worshi...,en,0,0,...,3,https://t.co/FkdND9Jtop,1482889764118405124,american1828,https://pbs.twimg.com/profile_images/162305298...,2022-01-17T01:38:15.000Z,America,"American history researcher\n\nAMER'ICAN, noun...",2022-12-31,40
202314,202314,2022-12-31T19:11:54.000Z,1609266113220677637,31240908,1609264625840791553,everyone,@NileGardiner Get. A. Life. Nile!! #Nile #Wank...,en,0,0,...,0,NaN,31240908,MyHearts4U2023,https://pbs.twimg.com/profile_images/152411132...,2009-04-14T22:01:14.000Z,"Liverpool, UK",Tweets & views are my own and are generally fa...,2022-12-31,40
202313,202313,2022-12-31T19:54:07.000Z,1609276737992409090,1339283489791873025,1609276729490644997,everyone,we hope you'll follow paths leading to fitting...,en,2,0,...,7,https://t.co/7TEY5CzGlb,1339283489791873025,VisitOromia,https://pbs.twimg.com/profile_images/144873857...,2020-12-16T18:57:30.000Z,Ethiopia,Facebook: https://t.co/NBs3Qxsclm YouTube: ht...,2022-12-31,40

In [62]:
nodes["user.created_at"] = pd.to_datetime(nodes["user.created_at"], format="%Y-%m-%dT%H:%M:%S%z")
nodes

                         id           label           user.created_at
27               3395056395         robirol 2015-07-30 06:40:36+00:00
29               2400492211  Mohammed222022 2014-03-20 21:40:49+00:00
39                 78938787         MHristo 2009-10-01 16:05:23+00:00
50               2937589931       sfield400 2014-12-22 22:25:30+00:00
53      1176137414454251520     TwineRachel 2019-09-23 14:13:45+00:00
...                     ...             ...                       ...
202156  1272741716005552128    Dave92876817 2020-06-16 04:04:23+00:00
202158  1435857840976039939       NilayOZ55 2021-09-09 06:49:35+00:00
202171            196186842      LarryDeMik 2010-09-28 14:53:15+00:00
202314             31240908  MyHearts4U2023 2009-04-14 22:01:14+00:00
202319  1482889764118405124    american1828 2022-01-17 01:38:15+00:00

[8440 rows x 3 columns]

In [63]:
nodes.to_csv("data/gephi files/nodes_with_interval_17032023.csv", index=False)

# Edges: user.id, in_reply_to_user_id and created_at (17.3.2023)

In [137]:
#df_replys = df.loc[df["in_reply_to_user_id"].isnull() == False]
df_replys["in_reply_to_user_id"] = df_replys["in_reply_to_user_id"].astype(np.int64)
#df_replys.iloc[:, [21, 15, 1]]
edges = df_replys.iloc[:, [21, 15, 1]].rename(columns = {"in_reply_to_user_id":"Target", "user.id":"Source"}).drop_duplicates()
edges

C:\Users\annil\AppData\Local\Temp\ipykernel_17216\3113379804.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_replys["in_reply_to_user_id"] = df_replys["in_reply_to_user_id"].astype(np.int64)

                     Source               Target                created_at
27               3395056395            172909994  2020-01-03T06:53:39.000Z
29               2400492211             98889997  2020-01-04T19:31:55.000Z
39                 78938787           1577984058  2020-01-05T15:42:18.000Z
48               2400492211            185602034  2020-01-06T22:56:44.000Z
50               2937589931             25202268  2020-01-06T20:47:36.000Z
...                     ...                  ...                       ...
202292  1339283489791873025  1339283489791873024  2022-12-30T12:18:14.000Z
202313  1339283489791873025  1339283489791873024  2022-12-31T19:54:07.000Z
202314             31240908            849880970  2022-12-31T19:11:54.000Z
202319  1482889764118405124  1482889764118405120  2022-12-31T18:32:25.000Z
202332  1383689801031843845           3740334387  2022-12-31T04:38:09.000Z

[40686 rows x 3 columns]

In [138]:
# timestamp to datetime (everything is in UTC)

edges["created_at"] = pd.to_datetime(edges["created_at"], format="%Y-%m-%dT%H:%M:%S%z")
edges

                     Source               Target                created_at
27               3395056395            172909994 2020-01-03 06:53:39+00:00
29               2400492211             98889997 2020-01-04 19:31:55+00:00
39                 78938787           1577984058 2020-01-05 15:42:18+00:00
48               2400492211            185602034 2020-01-06 22:56:44+00:00
50               2937589931             25202268 2020-01-06 20:47:36+00:00
...                     ...                  ...                       ...
202292  1339283489791873025  1339283489791873024 2022-12-30 12:18:14+00:00
202313  1339283489791873025  1339283489791873024 2022-12-31 19:54:07+00:00
202314             31240908            849880970 2022-12-31 19:11:54+00:00
202319  1482889764118405124  1482889764118405120 2022-12-31 18:32:25+00:00
202332  1383689801031843845           3740334387 2022-12-31 04:38:09+00:00

[40686 rows x 3 columns]

In [139]:
edges["end"] = edges["created_at"] + pd.offsets.DateOffset(years=1)
edges

,Source,Target,created_at,end
27,3395056395,172909994,2020-01-03 06:53:39+00:00,2021-01-03 06:53:39+00:00
29,2400492211,98889997,2020-01-04 19:31:55+00:00,2021-01-04 19:31:55+00:00
39,78938787,1577984058,2020-01-05 15:42:18+00:00,2021-01-05 15:42:18+00:00
48,2400492211,185602034,2020-01-06 22:56:44+00:00,2021-01-06 22:56:44+00:00
50,2937589931,25202268,2020-01-06 20:47:36+00:00,2021-01-06 20:47:36+00:00
...,...,...,...,...
202292,1339283489791873025,1339283489791873024,2022-12-30 12:18:14+00:00,2023-12-30 12:18:14+00:00
202313,1339283489791873025,1339283489791873024,2022-12-31 19:54:07+00:00,2023-12-31 19:54:07+00:00
202314,31240908,849880970,2022-12-31 19:11:54+00:00,2023-12-31 19:11:54+00:00
202319,1482889764118405124,1482889764118405120,2022-12-31 18:32:25+00:00,2023-12-31 18:32:25+00:00
202332,1383689801031843845,3740334387,2022-12-31 04:38:09+00:00,2023-12-31 04:38:09+00:00

In [140]:
edges["connection"] = "reply"

In [141]:
edges.to_csv("data/gephi files/edges_with_interval_17032023.csv", index=False)

# Edges: mentions

In [10]:
df.head(8)

,Unnamed: 0,created_at,id,author_id,conversation_id,reply_settings,text,lang,public_metrics.retweet_count,public_metrics.reply_count,...,user.public_metrics.listed_count,user.url,user.id,user.username,user.profile_image_url,user.created_at,user.location,user.description,day,count
0,0,2020-01-01T23:44:11.000Z,1212519922993111040,14450089,1212519922993111040,everyone,#Nile River Valley and the #Indus River Basin ...,en,0,0,...,38,https://t.co/B9zzZrNsFU,14450089,ilatif,https://pbs.twimg.com/profile_images/161942020...,2008-04-20T08:07:55.000Z,Paris,A strategic analyst keenly interested in our g...,2020-01-01,8
1,1,2020-01-01T23:41:12.000Z,1212519169725472769,14450089,1212519169725472769,everyone,#Nile River Valley and the Indus River Basin a...,en,0,1,...,38,https://t.co/B9zzZrNsFU,14450089,ilatif,https://pbs.twimg.com/profile_images/161942020...,2008-04-20T08:07:55.000Z,Paris,A strategic analyst keenly interested in our g...,2020-01-01,8
2,2,2020-01-01T20:39:50.000Z,1212473527426830338,1128019934422892544,1212473527426830338,everyone,"Happy New Year, Addis Hiking Family! \nWe had ...",en,1,1,...,4,NaN,1128019934422892544,addis_hiking,https://pbs.twimg.com/profile_images/156858721...,2019-05-13T19:31:24.000Z,Äthiopien,"It's all about adventure, admiring the beauty ...",2020-01-01,8
3,3,2020-01-01T16:01:45.000Z,1212403548048285696,451232651,1212403548048285696,everyone,The colorful Timkat festivity(Ethiopian Epipha...,en,0,0,...,35,https://t.co/lNhwn36qYJ,451232651,febewol7,https://pbs.twimg.com/profile_images/162193715...,2011-12-31T05:53:30.000Z,United States,#Ethiopia 24/7 | Music Enthusiast| 100% ETHIOP...,2020-01-01,8
4,4,2020-01-01T13:09:03.000Z,1212360084589809665,451232651,1212360084589809665,everyone,#LandOfOrigins Love it!! https://t.co/zDcz25pfZg,en,0,0,...,35,https://t.co/lNhwn36qYJ,451232651,febewol7,https://pbs.twimg.com/profile_images/162193715...,2011-12-31T05:53:30.000Z,United States,#Ethiopia 24/7 | Music Enthusiast| 100% ETHIOP...,2020-01-01,8
5,5,2020-01-01T16:31:26.000Z,1212411015578750977,1270445293,1212411015578750977,everyone,"Shielded by deserts at each side, powered by t...",en,8,2,...,338,NaN,1270445293,CaspianReport,https://pbs.twimg.com/profile_images/131285463...,2013-03-15T18:50:19.000Z,NaN,We try to make sense of our world by cutting t...,2020-01-01,8
6,6,2020-01-01T11:04:04.000Z,1212328632292642821,1139077270402940928,1212328632292642821,everyone,"The #Memnon at #High #Nile, wood engraving of ...",en,0,0,...,20,https://t.co/x7na4Xs2Lr,1139077270402940928,philographikon2,https://pbs.twimg.com/profile_images/153501820...,2019-06-13T07:49:19.000Z,Bavaria,Specializing in antique maps and prints.\nOur ...,2020-01-01,8
7,7,2020-01-01T08:15:10.000Z,1212286125143932928,263074291,1212286125143932928,everyone,#Ethiopia: The current state of the construct...,en,6,2,...,776,https://t.co/zeUHoExAy6,263074291,addisstandard,https://pbs.twimg.com/profile_images/311229042...,2011-03-09T09:47:54.000Z,Addis Ababa,Facebook: https://t.co/LtxsDPwwsg\nTelegram: h...,2020-01-01,8

In [5]:
df["mentions"] = np.nan

for i in range(len(df)):
    temp = [t for t in df["text"][i].split() if t.startswith("@")]
    for j in range(len(temp)):
        temp[j] = temp[j].strip(",.!?:;")
    if temp:
        df.iat[i, 29] = temp

In [6]:
df

,Unnamed: 0,created_at,id,author_id,conversation_id,reply_settings,text,lang,public_metrics.retweet_count,public_metrics.reply_count,...,user.url,user.id,user.username,user.profile_image_url,user.created_at,user.location,user.description,day,count,mentions
0,0,2020-01-01T23:44:11.000Z,1212519922993111040,14450089,1212519922993111040,everyone,#Nile River Valley and the #Indus River Basin ...,en,0,0,...,https://t.co/B9zzZrNsFU,14450089,ilatif,https://pbs.twimg.com/profile_images/161942020...,2008-04-20T08:07:55.000Z,Paris,A strategic analyst keenly interested in our g...,2020-01-01,8,NaN
1,1,2020-01-01T23:41:12.000Z,1212519169725472769,14450089,1212519169725472769,everyone,#Nile River Valley and the Indus River Basin a...,en,0,1,...,https://t.co/B9zzZrNsFU,14450089,ilatif,https://pbs.twimg.com/profile_images/161942020...,2008-04-20T08:07:55.000Z,Paris,A strategic analyst keenly interested in our g...,2020-01-01,8,NaN
2,2,2020-01-01T20:39:50.000Z,1212473527426830338,1128019934422892544,1212473527426830338,everyone,"Happy New Year, Addis Hiking Family! \nWe had ...",en,1,1,...,NaN,1128019934422892544,addis_hiking,https://pbs.twimg.com/profile_images/156858721...,2019-05-13T19:31:24.000Z,Äthiopien,"It's all about adventure, admiring the beauty ...",2020-01-01,8,NaN
3,3,2020-01-01T16:01:45.000Z,1212403548048285696,451232651,1212403548048285696,everyone,The colorful Timkat festivity(Ethiopian Epipha...,en,0,0,...,https://t.co/lNhwn36qYJ,451232651,febewol7,https://pbs.twimg.com/profile_images/162193715...,2011-12-31T05:53:30.000Z,United States,#Ethiopia 24/7 | Music Enthusiast| 100% ETHIOP...,2020-01-01,8,NaN
4,4,2020-01-01T13:09:03.000Z,1212360084589809665,451232651,1212360084589809665,everyone,#LandOfOrigins Love it!! https://t.co/zDcz25pfZg,en,0,0,...,https://t.co/lNhwn36qYJ,451232651,febewol7,https://pbs.twimg.com/profile_images/162193715...,2011-12-31T05:53:30.000Z,United States,#Ethiopia 24/7 | Music Enthusiast| 100% ETHIOP...,2020-01-01,8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291134,291134,2019-12-31T09:12:00.000Z,1211938040593231872,1180889598853029892,1211938040593231872,everyone,#Nile tradesman https://t.co/z5LSCHByqj,en,0,0,...,NaN,1180889598853029892,DJappyPhotos,https://pbs.twimg.com/profile_images/121172121...,2019-10-06T16:56:45.000Z,NaN,Some of my photos for the world to see - pleas...,2019-12-31,27,NaN
291135,291135,2019-12-31T08:31:52.000Z,1211927943041044486,14337796,1211927943041044486,everyone,Kingdom by the Nile.\n.\n.\n.\n.\n.\n#🇪🇬 #medi...,en,0,0,...,https://t.co/UfbSols4WE,14337796,rayshan,https://pbs.twimg.com/profile_images/378800000...,2008-04-09T01:09:26.000Z,San Francisco,Building infrastructure that builds the next g...,2019-12-31,27,NaN
291136,291136,2019-12-31T07:56:59.000Z,1211919162202820608,1081876641138143232,1211571560177385473,everyone,@Dawit99910437 @Emuye06 @speed_of_trust The pp...,en,0,0,...,NaN,1081876641138143232,the_curious_2,https://pbs.twimg.com/profile_images/136089916...,2019-01-06T11:34:26.000Z,Vereinigte Staaten,Views are personal ...,2019-12-31,27,"[@Dawit99910437, @Emuye06, @speed_of_trust]"
291137,291137,2019-12-31T06:03:00.000Z,1211890476284030976,3233487513,1211890476284030976,everyone,Such an exciting experience! An honor to have ...,en,0,0,...,NaN,3233487513,Chef_Yohanis,https://pbs.twimg.com/profile_images/595237017...,2015-05-04T14:30:47.000Z,NaN,NaN,2019-12-31,27,NaN
291138,291138,2019-12-31T02:44:10.000Z,1211840439197691905,2909023273,1211840439197691905,everyone,@makemytrip first you say refund not possible ...,en,0,2,...,NaN,2909023273,DrIrfanWajih,https://pbs.twimg.com/profile_images/536850214...,2014-11-24T11:22:12.000Z,Lucknow,NaN,2019-12-31,27,"[@makemytrip, @MakeMyTripIndia, @oyorooms, @Cl..."

In [28]:
#df.loc[df["mentions"].isnull() == False]#["mentions"].to_list()

,Unnamed: 0,created_at,id,author_id,conversation_id,reply_settings,text,lang,public_metrics.retweet_count,public_metrics.reply_count,...,user.url,user.id,user.username,user.profile_image_url,user.created_at,user.location,user.description,day,count,mentions
7,7,2020-01-01T08:15:10.000Z,1212286125143932928,263074291,1212286125143932928,everyone,#Ethiopia: The current state of the construct...,en,6,2,...,https://t.co/zeUHoExAy6,263074291,addisstandard,https://pbs.twimg.com/profile_images/311229042...,2011-03-09T09:47:54.000Z,Addis Ababa,Facebook: https://t.co/LtxsDPwwsg\nTelegram: h...,2020-01-01,8,@ebczena
17,17,2020-01-03T19:27:16.000Z,1213180041313554433,17835371,1213180041313554433,everyone,Some words about a song that I like.\nhttps://...,en,0,0,...,https://t.co/my8P76sApE,17835371,John_Lloyd,https://pbs.twimg.com/profile_images/796479407...,2008-12-03T12:49:26.000Z,"London, England",Thoughtful wanderer in search of virtual meani...,2020-01-03,11,@BlueNileMusic;@PaulBuchananBN
20,20,2020-01-03T16:07:04.000Z,1213129661489860611,172280127,1213129661489860611,everyone,Curbs to press freedoms and data gaps are stif...,en,3,0,...,https://t.co/drNPf6rHsg,172280127,SciDevNet,https://pbs.twimg.com/profile_images/471586543...,2010-07-29T09:28:29.000Z,"Wallingford, Oxfordhsire",Bringing #science and #globaldev together thro...,2020-01-03,11,@nbiweb;@UnescoIHE;@emanufanti
22,22,2020-01-03T15:07:10.000Z,1213114587840569345,22641046,1213114587840569345,everyone,And today is the birthday of #british fantasy ...,en,0,0,...,NaN,22641046,jlkalman,https://pbs.twimg.com/profile_images/139000196...,2009-03-03T16:25:17.000Z,North San DIego County,NaN,2020-01-03,11,@
27,27,2020-01-03T06:53:39.000Z,1212990387578720257,3395056395,1210689137411379200,everyone,"@AycoAM @GetachewSS Even if we have 13 months,...",en,0,0,...,NaN,3395056395,robirol,https://pbs.twimg.com/profile_images/145802316...,2015-07-30T06:40:36.000Z,NaN,ኩሉ አመክሩ ወዘሰናየ አፅንኡ\n🇪🇹⛪⚽🎱,2020-01-03,11,@AycoAM;@GetachewSS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291111,291111,2019-12-30T03:41:51.000Z,1211492566790811649,340419803,1211482123913351168,everyone,@Jacob91958509 Do you know how many #Eritrean ...,en,0,0,...,NaN,340419803,awet_nhafash,https://pbs.twimg.com/profile_images/108896058...,2011-07-22T17:30:34.000Z,"La Canada Flintridge, CA",NaN,2019-12-30,29,@Jacob91958509
291114,291114,2019-12-31T21:09:48.000Z,1212118682534600704,2400492211,1212118682534600704,everyone,@adoniaayebare :Good job @ 2020\n\nBilateral r...,en,1,0,...,http://t.co/V5uHnZdANe,2400492211,Mohammed222022,https://pbs.twimg.com/profile_images/142610318...,2014-03-20T21:40:49.000Z,SCOTLAND,ADAMCO HOLDING CORPORATION,2019-12-31,27,@adoniaayebare;@;@nbiweb
291117,291117,2019-12-31T18:19:36.000Z,1212075848699981826,983328241,1212075848699981826,everyone,"#Ethiopia in @UNSC, Heads @WHO, Exploits Grea...",en,0,0,...,https://t.co/PqLxLUkm8C,983328241,Seber_Angle,https://pbs.twimg.com/profile_images/105581742...,2012-12-01T20:56:06.000Z,London,Political Analyst & Author...,2019-12-31,27,@UNSC;@WHO
291136,291136,2019-12-31T07:56:59.000Z,1211919162202820608,1081876641138143232,1211571560177385473,everyone,@Dawit99910437 @Emuye06 @speed_of_trust The pp...,en,0,0,...,NaN,1081876641138143232,the_curious_2,https://pbs.twimg.com/profile_images/136089916...,2019-01-06T11:34:26.000Z,Vereinigte Staaten,Views are personal ...,2019-12-31,27,@Dawit99910437;@Emuye06;@speed_of_trust
291138,291138,2019-12-31T02:44:10.000Z,1211840439197691905,2909023273,1211840439197691905,everyone,@makemytrip first you say refund not possible ...,en,0,2,...,NaN,2909023273,DrIrfanWajih,https://pbs.twimg.com/profile_images/536850214...,2014-11-24T11:22:12.000Z,Lucknow,NaN,2019-12-31,27,@makemytrip;@MakeMyTripIndia;@oyorooms;@Cleart...

df["mentions ids"] = np.nan

df_m = df.loc[df["mentions"].isnull() == False].reset_index(drop=True)
df_m["mentions ids"] = np.nan

for i in range(len(df_m)):
    if df_m.iat[i, 29]:
        peeps = df_m.iat[i, 29].split(";")
        ids = []
        for j in range(len(peeps)):
            if peeps[j][1:] in (df_ids["username"]):
                ids.append(df_ids.loc[df_ids["username"] == peeps[j][1:], ["user.id"]])
        df_m.iat[i, 30] = ids

In [8]:
# put all mentions as their own rows (in a new dataframe)

df_m = df.loc[df["mentions"].isnull() == False].reset_index(drop=True)

edges_mention = pd.DataFrame({"Source" : df_m["user.id"], "username_source" : df_m["user.username"], "usernames_target" : df_m["mentions"], "created_at" : df_m["created_at"]})
edges_mention = edges_mention.explode("usernames_target")
edges_mention

            Source username_source  usernames_target                created_at
0        263074291   addisstandard          @ebczena  2020-01-01T08:15:10.000Z
1         17835371      John_Lloyd    @BlueNileMusic  2020-01-03T19:27:16.000Z
1         17835371      John_Lloyd   @PaulBuchananBN  2020-01-03T19:27:16.000Z
2        172280127       SciDevNet           @nbiweb  2020-01-03T16:07:04.000Z
2        172280127       SciDevNet        @UnescoIHE  2020-01-03T16:07:04.000Z
...            ...             ...               ...                       ...
144358  2909023273    DrIrfanWajih       @makemytrip  2019-12-31T02:44:10.000Z
144358  2909023273    DrIrfanWajih  @MakeMyTripIndia  2019-12-31T02:44:10.000Z
144358  2909023273    DrIrfanWajih         @oyorooms  2019-12-31T02:44:10.000Z
144358  2909023273    DrIrfanWajih        @Cleartrip  2019-12-31T02:44:10.000Z
144358  2909023273    DrIrfanWajih       @bookingcom  2019-12-31T02:44:10.000Z

[520223 rows x 4 columns]

In [9]:
edges_mention["usernames_target"] = edges_mention["usernames_target"].str.lower().str.strip("@")
edges_mention

            Source username_source usernames_target                created_at
0        263074291   addisstandard          ebczena  2020-01-01T08:15:10.000Z
1         17835371      John_Lloyd    bluenilemusic  2020-01-03T19:27:16.000Z
1         17835371      John_Lloyd   paulbuchananbn  2020-01-03T19:27:16.000Z
2        172280127       SciDevNet           nbiweb  2020-01-03T16:07:04.000Z
2        172280127       SciDevNet        unescoihe  2020-01-03T16:07:04.000Z
...            ...             ...              ...                       ...
144358  2909023273    DrIrfanWajih       makemytrip  2019-12-31T02:44:10.000Z
144358  2909023273    DrIrfanWajih  makemytripindia  2019-12-31T02:44:10.000Z
144358  2909023273    DrIrfanWajih         oyorooms  2019-12-31T02:44:10.000Z
144358  2909023273    DrIrfanWajih        cleartrip  2019-12-31T02:44:10.000Z
144358  2909023273    DrIrfanWajih       bookingcom  2019-12-31T02:44:10.000Z

[520223 rows x 4 columns]

In [16]:
df_ids["username"] = df_ids["username"].str.lower()
df_ids = df_ids["username"].str.lower().drop(columns=["Unnamed: 0"]).rename(columns={"username":"usernames_target"})

KeyError: 'username'

In [17]:
df_ids

      usernames_target              user.id
0               ilatif             14450089
1         addis_hiking  1128019934422892544
2             febewol7            451232651
3        caspianreport           1270445293
4      philographikon2  1139077270402940928
...                ...                  ...
57200         vocalval            764764982
57201     awet_nhafash            340419803
57202   offerscontest2   799552990755622912
57203          rayshan             14337796
57204     drirfanwajih           2909023273

[57205 rows x 2 columns]

In [12]:
edges_mention = edges_mention.merge(df_ids, how="left", on="usernames_target")

In [13]:
edges_mention

,Source,username_source,usernames_target,created_at,user.id
0,263074291,addisstandard,ebczena,2020-01-01T08:15:10.000Z,2.785302e+09
1,17835371,John_Lloyd,bluenilemusic,2020-01-03T19:27:16.000Z,NaN
2,17835371,John_Lloyd,paulbuchananbn,2020-01-03T19:27:16.000Z,9.026853e+08
3,172280127,SciDevNet,nbiweb,2020-01-03T16:07:04.000Z,2.939720e+08
4,172280127,SciDevNet,unescoihe,2020-01-03T16:07:04.000Z,NaN
...,...,...,...,...,...
520218,2909023273,DrIrfanWajih,makemytrip,2019-12-31T02:44:10.000Z,NaN
520219,2909023273,DrIrfanWajih,makemytripindia,2019-12-31T02:44:10.000Z,NaN
520220,2909023273,DrIrfanWajih,oyorooms,2019-12-31T02:44:10.000Z,NaN
520221,2909023273,DrIrfanWajih,cleartrip,2019-12-31T02:44:10.000Z,1.721609e+07
520222,2909023273,DrIrfanWajih,bookingcom,2019-12-31T02:44:10.000Z,NaN

In [ ]:
edges_mention = edges_mention.loc[edges_mention["user.id"].isnull() == False]
edges_mention = edges_mention.reset_index(drop=True)
edges_mention["user.id"] = edges_mention["user.id"].astype(np.int64)
print(type(edges_mention.iat[0, 0]), type(edges_mention.iat[0, 4]))

<class 'numpy.int64'> <class 'numpy.int64'>

In [129]:
mention_gephi = edges_mention.iloc[:, [0,4,3]]
mention_gephi = mention_gephi.rename(columns={"user.id":"Target"})
mention_gephi

                     Source               Target                created_at
0                 263074291           2785302413  2020-01-01T08:15:10.000Z
1                  17835371            902685312  2020-01-03T19:27:16.000Z
2                 172280127            293971992  2020-01-03T16:07:04.000Z
3                 172280127            369121815  2020-01-03T16:07:04.000Z
4                3395056395   887944161210630144  2020-01-03T06:53:39.000Z
...                     ...                  ...                       ...
230114            259200755  1059015168263417856  2019-12-30T05:35:19.000Z
230115            259200755  1168167671151628288  2019-12-30T05:35:19.000Z
230116           2400492211            293971992  2019-12-31T21:09:48.000Z
230117  1081876641138143232   771902400445681664  2019-12-31T07:56:59.000Z
230118           2909023273             17216088  2019-12-31T02:44:10.000Z

[230119 rows x 3 columns]

In [134]:
mention_gephi["created_at"] = pd.to_datetime(mention_gephi["created_at"], format="%Y-%m-%dT%H:%M:%S%z")
mention_gephi["end"] = mention_gephi["created_at"] + pd.offsets.DateOffset(years=1)
mention_gephi

,Source,Target,created_at,type,end
0,263074291,2785302413,2020-01-01 08:15:10+00:00,mention,2021-01-01 08:15:10+00:00
1,17835371,902685312,2020-01-03 19:27:16+00:00,mention,2021-01-03 19:27:16+00:00
2,172280127,293971992,2020-01-03 16:07:04+00:00,mention,2021-01-03 16:07:04+00:00
3,172280127,369121815,2020-01-03 16:07:04+00:00,mention,2021-01-03 16:07:04+00:00
4,3395056395,887944161210630144,2020-01-03 06:53:39+00:00,mention,2021-01-03 06:53:39+00:00
...,...,...,...,...,...
230114,259200755,1059015168263417856,2019-12-30 05:35:19+00:00,mention,2020-12-30 05:35:19+00:00
230115,259200755,1168167671151628288,2019-12-30 05:35:19+00:00,mention,2020-12-30 05:35:19+00:00
230116,2400492211,293971992,2019-12-31 21:09:48+00:00,mention,2020-12-31 21:09:48+00:00
230117,1081876641138143232,771902400445681664,2019-12-31 07:56:59+00:00,mention,2020-12-31 07:56:59+00:00
230118,2909023273,17216088,2019-12-31 02:44:10+00:00,mention,2020-12-31 02:44:10+00:00

In [136]:
mention_gephi["connection"] = "mention"
mention_gephi = mention_gephi.drop(columns=["type"])
mention_gephi.to_csv("data/gephi files/edges_mention_20032023.csv", index=False)

# Edges: replys and mentions (20.3.2023)

In [144]:
#edges and mention_gephi

edges = pd.concat([edges, mention_gephi])
edges

,Source,Target,created_at,end,connection
27,3395056395,172909994,2020-01-03 06:53:39+00:00,2021-01-03 06:53:39+00:00,reply
29,2400492211,98889997,2020-01-04 19:31:55+00:00,2021-01-04 19:31:55+00:00,reply
39,78938787,1577984058,2020-01-05 15:42:18+00:00,2021-01-05 15:42:18+00:00,reply
48,2400492211,185602034,2020-01-06 22:56:44+00:00,2021-01-06 22:56:44+00:00,reply
50,2937589931,25202268,2020-01-06 20:47:36+00:00,2021-01-06 20:47:36+00:00,reply
...,...,...,...,...,...
230114,259200755,1059015168263417856,2019-12-30 05:35:19+00:00,2020-12-30 05:35:19+00:00,mention
230115,259200755,1168167671151628288,2019-12-30 05:35:19+00:00,2020-12-30 05:35:19+00:00,mention
230116,2400492211,293971992,2019-12-31 21:09:48+00:00,2020-12-31 21:09:48+00:00,mention
230117,1081876641138143232,771902400445681664,2019-12-31 07:56:59+00:00,2020-12-31 07:56:59+00:00,mention
230118,2909023273,17216088,2019-12-31 02:44:10+00:00,2020-12-31 02:44:10+00:00,mention

In [145]:
edges.to_csv("data/gephi files/mentions_replys_20032023.csv", index=False)

# Nodes

In [2]:
authorid = df.iloc[:, [22, 21]].rename(columns = {"user.username":"username"}).drop_duplicates(subset="user.id")
authorid
#authorid.to_csv("data/other/username_id.csv")

               username              user.id
0                ilatif             14450089
2          addis_hiking  1128019934422892544
3              febewol7            451232651
6         CaspianReport           1270445293
7       philographikon2  1139077270402940928
...                 ...                  ...
303823         VocalVal            764764982
303855     awet_nhafash            340419803
303871   offerscontest2   799552990755622912
303880          rayshan             14337796
303883     DrIrfanWajih           2909023273

[57205 rows x 2 columns]

In [3]:
users = df.iloc[:, [21, 22, ]].rename(columns = {"user.id":"id", "user.username":"Label"}).drop_duplicates(subset="id")
users.insert(2, "type", "user")
users

                         id            Label  type
0                  14450089           ilatif  user
2       1128019934422892544     addis_hiking  user
3                 451232651         febewol7  user
6                1270445293    CaspianReport  user
7       1139077270402940928  philographikon2  user
...                     ...              ...   ...
303823            764764982         VocalVal  user
303855            340419803     awet_nhafash  user
303871   799552990755622912   offerscontest2  user
303880             14337796          rayshan  user
303883           2909023273     DrIrfanWajih  user

[57205 rows x 3 columns]

In [4]:
tweets = df.iloc[:, [2, 6]].rename(columns = {"text":"Label"})
tweets.insert(2, "type", "tweet")
tweets

,id,Label,type
0,1212519922993111040,#Nile River Valley and the #Indus River Basin ...,tweet
1,1212519169725472769,#Nile River Valley and the Indus River Basin a...,tweet
2,1212473527426830338,"Happy New Year, Addis Hiking Family! \r\nWe ha...",tweet
3,1212456783161298944,#LandOfOrigins #Ethiopia \r\nplease follow #Tr...,tweet
4,1212403548048285696,The colorful Timkat festivity(Ethiopian Epipha...,tweet
...,...,...,...
303879,1211938040593231872,#Nile tradesman https://t.co/z5LSCHByqj,tweet
303880,1211927943041044486,Kingdom by the Nile.\r\n.\r\n.\r\n.\r\n.\r\n.\...,tweet
303881,1211919162202820608,@Dawit99910437 @Emuye06 @speed_of_trust The pp...,tweet
303882,1211890476284030976,Such an exciting experience! An honor to have ...,tweet
303883,1211840439197691905,@makemytrip first you say refund not possible ...,tweet

In [91]:
nodes = pd.concat([users, tweets], ignore_index=True)
nodes

,id,Label,type
0,14450089,ilatif,user
1,1128019934422892544,addis_hiking,user
2,451232651,febewol7,user
3,1270445293,CaspianReport,user
4,1139077270402940928,philographikon2,user
...,...,...,...
361084,1211938040593231872,#Nile tradesman https://t.co/z5LSCHByqj,tweet
361085,1211927943041044486,Kingdom by the Nile.\r\n.\r\n.\r\n.\r\n.\r\n.\...,tweet
361086,1211919162202820608,@Dawit99910437 @Emuye06 @speed_of_trust The pp...,tweet
361087,1211890476284030976,Such an exciting experience! An honor to have ...,tweet
361088,1211840439197691905,@makemytrip first you say refund not possible ...,tweet

In [92]:
users.loc[users["id"] == 1458111881504337921]

                         id        Label  type
154031  1458111881504337921  Mikeyviews3  user

# Edges

In [74]:
authors = df.iloc[:, [21, 15]].rename(columns = {"user.id":"Source", "in_reply_to_user_id":"Target"})
authors.insert(2, "connection", "reply")
authors.loc[authors["Target"].isnull() == False].to_csv("data/gephi files/test2_15032023.csv", index=False)

In [85]:
user_connections = authors.loc[authors["Target"].isnull() == False]
user_connections

                     Source        Target connection
29               3395056395  1.729100e+08      reply
31               2400492211  9.889000e+07      reply
42                 78938787  1.577984e+09      reply
52               2400492211  1.856020e+08      reply
54               2937589931  2.520227e+07      reply
...                     ...           ...        ...
203707  1339283489791873025  1.339283e+18      reply
203729  1339283489791873025  1.339283e+18      reply
203730             31240908  8.498810e+08      reply
203735  1482889764118405124  1.482890e+18      reply
203748  1383689801031843845  3.740334e+09      reply

[40858 rows x 3 columns]

In [84]:
user_connections["Target"] = user_connections["Target"].astype(int)
user_connections

C:\Users\annil\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)
C:\Users\annil\AppData\Local\Temp\ipykernel_9796\2407615145.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_connections["Target"] = user_connections["Target"].astype(int)

                     Source      Target connection
29               3395056395   172909994      reply
31               2400492211    98889997      reply
42                 78938787  1577984058      reply
52               2400492211   185602034      reply
54               2937589931    25202268      reply
...                     ...         ...        ...
203707  1339283489791873025 -2147483648      reply
203729  1339283489791873025 -2147483648      reply
203730             31240908   849880970      reply
203735  1482889764118405124 -2147483648      reply
203748  1383689801031843845 -2147483648      reply

[40858 rows x 3 columns]

In [33]:
authors.to_csv("data/other/authors_0703data.csv", index=False)

In [6]:
replys = df.iloc[:, [2, 13, 14]].rename(columns = {"id":"Source", "referenced_tweets.id":"Target"})
#replys.insert(3, "connection", "reply")
replys = replys[replys["referenced_tweets.type"].isnull() == False]
replys["referenced_tweets.type"].value_counts()

replied_to           44811
quoted               23923
quoted;replied_to      743
Name: referenced_tweets.type, dtype: int64

In [7]:
q_rt = replys[replys["referenced_tweets.type"] == "quoted;replied_to"]
q_rt = q_rt.reset_index(drop=True)
type(q_rt.loc[2]["Target"])

str

In [8]:
q_rt

,Source,Target,referenced_tweets.type
0,1215342220095696899,1215340233505550343;1214615063748861954,quoted;replied_to
1,1217256476453982208,1204389545770278914;1217227423357513728,quoted;replied_to
2,1218091064684314624,1217934597343862790;1218088589894082560,quoted;replied_to
3,1219932894178742274,1219274972125900801;1219916886990868481,quoted;replied_to
4,1228121004473339904,1224958397797126146;1228014926658252801,quoted;replied_to
...,...,...,...
738,1192176312213016578,1192135033680781313;1189791242365870080,quoted;replied_to
739,1192459437430194176,1192452095984754688;1192176312213016578,quoted;replied_to
740,1192900166476533761,1192847436928241664;1192464076443652096,quoted;replied_to
741,1204340538809503744,1204319795782594560;1201253721017081857,quoted;replied_to
742,1206908676444950528,1206692578726469632;1206896287376908288,quoted;replied_to

In [ ]:
# tehdään dataframe newdf jossa on omilla riveillään quoted ja replied_to yhteydet dataframesta q_rt

newdf = pd.DataFrame(columns=["Source", "Target", "referenced_tweets.type"])

for i in range(len(q_rt)):
    source = q_rt.loc[i]["Source"]
    target1 = int(q_rt.loc[i]["Target"].split(";")[0])
    target2 = int(q_rt.loc[i]["Target"].split(";")[1])
    rows = pd.DataFrame([[source, target1, "quoted"], [source, target2, "replied_to"]], columns=["Source", "Target", "referenced_tweets.type"])
    newdf = pd.concat([newdf, rows], ignore_index=True)

In [10]:
newdf

                   Source               Target referenced_tweets.type
0     1215342220095696899  1215340233505550343                 quoted
1     1215342220095696899  1214615063748861954             replied_to
2     1217256476453982208  1204389545770278914                 quoted
3     1217256476453982208  1217227423357513728             replied_to
4     1218091064684314624  1217934597343862790                 quoted
...                   ...                  ...                    ...
1481  1192900166476533761  1192464076443652096             replied_to
1482  1204340538809503744  1204319795782594560                 quoted
1483  1204340538809503744  1201253721017081857             replied_to
1484  1206908676444950528  1206692578726469632                 quoted
1485  1206908676444950528  1206896287376908288             replied_to

[1486 rows x 3 columns]

In [11]:
# lisätään uudet rivit reply-dataframeen ja poistetaan "tuplarivit" eli ne joissa on sekä quoted että replied_to

temp = replys[replys["referenced_tweets.type"] != "quoted;replied_to"]
replys_final = pd.concat([temp, newdf], ignore_index=True)

In [12]:
replys_final = replys_final.rename(columns={"referenced_tweets.type":"connection"})
replys_final

                    Source               Target  connection
0      1212360084589809665  1212303217352155138      quoted
1      1212990387578720257  1210689137411379200  replied_to
2      1213543601982099456  1213541092727152641      quoted
3      1213512604460756992  1213434039081799680      quoted
4      1213369040586051586  1213358158451748864      quoted
...                    ...                  ...         ...
70215  1192900166476533761  1192464076443652096  replied_to
70216  1204340538809503744  1204319795782594560      quoted
70217  1204340538809503744  1201253721017081857  replied_to
70218  1206908676444950528  1206692578726469632      quoted
70219  1206908676444950528  1206896287376908288  replied_to

[70220 rows x 3 columns]

In [80]:
# connecting all edges

edges = pd.concat([authors, replys_final], ignore_index=True)
edges

                     Source               Target  connection
0                  14450089  1212519922993111040      author
1                  14450089  1212519169725472769      author
2       1128019934422892544  1212473527426830338      author
3                 451232651  1212456783161298944      author
4                 451232651  1212403548048285696      author
...                     ...                  ...         ...
374099  1192900166476533761  1192464076443652096  replied_to
374100  1204340538809503744  1204319795782594560      quoted
374101  1204340538809503744  1201253721017081857  replied_to
374102  1206908676444950528  1206692578726469632      quoted
374103  1206908676444950528  1206896287376908288  replied_to

[374104 rows x 3 columns]

# Transforming to format where tweet id's are not needed

## Merge solution (left, on tweet_id)

In [ ]:
#authors.rename(columns={"Source":"user", "Target":"tweet"})
#replys_final.rename(columns={"Source":"tweet"})

In [57]:
tempdf = replys_final.rename(columns={"Source":"tweet"}).merge(authors.drop(columns=["connection"], axis=1).rename(columns={"Source":"user", "Target":"tweet"}), how="left", on="tweet").drop(columns=["tweet"], axis=1).rename(columns={"user":"Source"})
tempdf

                    Target  connection      Source
0      1212303217352155138      quoted   451232651
1      1210689137411379200  replied_to  3395056395
2      1213541092727152641      quoted  2400492211
3      1213434039081799680      quoted    96589142
4      1213358158451748864      quoted  3298315710
...                    ...         ...         ...
70215  1192464076443652096  replied_to  2400492211
70216  1204319795782594560      quoted  2400492211
70217  1201253721017081857  replied_to  2400492211
70218  1206692578726469632      quoted   585620302
70219  1206896287376908288  replied_to   585620302

[70220 rows x 3 columns]

In [59]:
replys_byusers = tempdf.rename(columns={"Target":"tweet"}).merge(authors.drop(columns=["connection"], axis=1).rename(columns={"Source":"Target", "Target":"tweet"}), how="left", on="tweet").drop(columns=["tweet"], axis=1)

In [64]:
save_this = replys_byusers.loc[replys_byusers["Target"].isnull() == False]

In [67]:
save_this
#save_this.to_csv("data/gephi files/userid_tests15032023.csv", index=False)

       connection               Source        Target
68735  replied_to           2400492211  2.400492e+09
68736      quoted  1204216428355735552  1.204216e+18
68740      quoted            585620302  5.856203e+08
68742      quoted            200578173  2.005782e+08
68744      quoted   817501429615259648  2.630743e+08
...           ...                  ...           ...
70210      quoted           2400492211  9.359699e+17
70213  replied_to           2400492211  2.400492e+09
70214      quoted           2400492211  1.181307e+08
70215  replied_to           2400492211  2.400492e+09
70217  replied_to           2400492211  2.400492e+09

[483 rows x 3 columns]

## Not working

# authors: twiittien kirjoittajat
# replys: twiittien väliset yhteydet
replys_users = pd.DataFrame(columns=["Source", "Target", "connection"])

def user_from_tweet(tweet):
    ret = int(authors[authors["Target"] == tweet]["Source"].to_list()[0])
    return ret

user_from_tweet(1212328632292642821)

for i in range(len(replys_final)):
    source_tweet = int(replys_final.iloc[i]["Source"])
    target_tweet = int(replys_final.iloc[i]["Target"])
    connection = replys_final.iloc[i]["connection"]
    source_user = user_from_tweet(source_tweet)
    target_user = user_from_tweet(target_tweet)
    row = pd.DataFrame([source_user, target_user, connection], columns=["Source", "Target", "connection"])
    pd.concat([replys_users, row])
    
replys_users

authors[authors["Target"] == 1212519922993111040]["Source"][0]

# Saving

In [10]:
# tallennetaan users ja edges csv:nä ja viedään Gephiin

#users.to_csv("data/gephi files/nodes_user_14032023_test.csv", index=False)
#edges.to_csv("data/gephi files/edges_14032023_test.csv", index=False)